@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf);
}
:root{
    --color-primario: #33404F;
    --color-secundario: #00DDA3;
    --color-ternario: #FFFFFF;
    --color-cuarto: #B5C5C3;
}
